@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,132;0,200;0,300;0,400;0,408;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Work+Sans:wght@100;200;300;400;500;600&display=swap');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #082a35;
}

body {
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outer-box {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1rem;
}

.box {
    width: 100%;
    text-align: center;
}

.container {
    background-color: teal;
    margin: 1rem;
    padding: 1rem;
    /* width: 100%; */
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.draggable {
    background-color: #ffff;
    margin: 1rem;
    padding: 0.5rem;
    color: black;
    cursor: move;
    border: 1px solid black;
    width: 100%;
}

.image {
    padding: 0;
    height: 100px;
    width: 150px;
}

.success-msg {
    color: #270;
    background-color: #DFF2BF;
    position: absolute;
    top: 8%;
    padding: 1rem;
    display: none;
}

button {
    padding: 1rem;
    width: fit-content;
    background-color: crimson;
    color: #ffff;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 70%;
}

.dragging {
    opacity: .5;
}